<!doctype html>

<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <head>
    <title>NBC Bitcoin</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
  </head>

  <body id="not-found">
    <div>
      <img src="public/images/cat-404.jpg" alt="404-not-found"></img>
    </div>
  </bodyid="not-found">

</html>
