body {
  padding: 2rem;
  font: 0.75rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:whitesmoke;
}

#main-table {
  background-color: white;
  padding: 3rem;
  box-shadow: 2px 2px 8px 2px grey;
  width: 85%;
}

#bct {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

#bct tr:hover {
  background-color: #c4d3dc;
  color: white;
}

th {
  padding: 12px 6px 12px 6px;
  text-align: center;
  color: rgb(50, 121, 191);
  font-size: 18px;
  background-color: white;
}

table #bct-row td {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px 10px 5px;
  text-align: center;
}

.bct-down {
  color: rgb(205, 46, 46);
}

.bct-up {
  color: rgb(71, 154, 71);
}

.fa-arrow-alt-circle-up {
  color: rgb(51, 130, 191);
  font-size: 22px;
}

.fa-arrow-alt-circle-down {
  color: rgb(247, 159, 65);
  font-size: 22px;
}

.fa-coins {
  color: rgb(255, 196, 0);
}

footer {
  text-align: center;
  bottom: 0;
  margin-top: 10px;
}

/* 404 page */
#not-found {
  padding: 0;
}

#not-found img {
  max-width: 100%;
  height: auto;
}

/* Responsive for phones */
@media (max-width: 620px) {
  body {
    padding: 0;
    font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:white;
  }

  #main-table {
    background-color: white;
    padding: 0;
    box-shadow: none;
    width: 100%;
  }

  th {
    padding: 0 0 5px 0;
    text-align: center;
    color: rgb(50, 121, 191);
    font-size: 10px;
    background-color: white;
  }

  table #bct-row td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }

  .fa-arrow-alt-circle-up, .fa-arrow-alt-circle-down {
    font-size: 8px;
  }
}