body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:whitesmoke;
}

#bct {
  background-color: white;
  border-radius: 10px 10px 0 0;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 2px 2px 8px 2px grey;
}

#bct tr:nth-child(even){
  background-color: papayawhip;
}

th {
  padding: 12px 6px 12px 6px;
  text-align: center;
  background-color: royalblue;
  color: white;
}

tr .bct-date.title {
  border-radius: 10px 0 0 0 ;
}

tr .bct-day.title {
  border-radius: 0 10px 0 0;
}

table #bct-row td {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px 10px 5px;
  text-align: center;
}